<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>



    <div id="container">
        <div id="nav-bar">
            <ul>
                <li><a id="logo"></a></li>
                <li><a>Boka</a></li>
                <li><a>Hitta</a></li>
                <li><a>Meny</a></li>
                <li><a>Home</a></li>
            </ul>
        </div>
    {% block body %}{% endblock %}
    </div>

</body>
</html>