{% extends "base.html" %}


{% block title %}Booking{% endblock%}
{% block head %}
{% endblock %}

{% block body%}
<div class="boka">
<h1>Boka</h1>
<form>
    <div>
    <select>
        <option>Tid:1</option>
        <option>Tid:2</option>
        <option>Tid:3</option>
        <option>Tid:4</option>
        <option>Tid:5</option>
        <option>Tid:6</option>
        <option>Tid:7</option>
        <option>Tid:8</option>
        <option>Tid:9</option>
        <option>Tid:10</option>
        <option>Tid:11</option>
        <option>Tid:12</option>
        <option>Tid:13</option>
        <option>Tid:14</option>
        <option>Tid:15</option>
    </select>
    <select>
        <option>Dag:1</option>
        <option>Dag:2</option>
        <option>Dag:3</option>
        <option>Dag:4</option>
        <option>Dag:5</option>
        <option>Dag:6</option>
        <option>Dag:7</option>
        <option>Dag:8</option>
        <option>Dag:9</option>
        <option>Dag:10</option>
        <option>Dag:11</option>
        <option>Dag:12</option>
        <option>Dag:13</option>
        <option>Dag:14</option>
        <option>Dag:15</option>
    </select>
    </div>
    <textarea placeholder="Övriga önskemål"></textarea>
    <br>
    <button>Boka</button>

</form>
</div>
{% endblock %}