{% extends "base.html" %}


{% block title %}Home{% endblock%}
{% block head %}
{% endblock %}

{% block body%}
<img id="header" src="../static/img/pankaka.png">
<h1>Pankakor</h1>
<p id="header-text">Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty.  Fabulous adopted headbutt.Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty.  Fabulous adopted headbutt.</p>
<div id="textbox-order">
    <div class="text">
    <h1>Kittenz</h1>
    <p>Kitten Ipsum helped wow, cramped likes rip little smokey cat family bed kitty.  Fabulous adopted headbutt.
    </p>
    </div>
    <div class="text">
    <h1>Kittenz</h1>
    <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty.  Fabulous adopted headbutt.
    </p>
    </div>
    <div class="text">
    <h1>Kittenz</h1>
    <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty.  Fabulous adopted headbutt.
    </p>
    </div>
</div>

{% endblock %}