{% extends "base.html" %}


{% block title %}Meny{% endblock%}
{% block head %}
{% endblock %}

{% block body%}
<div class="meny shorter">
    <table>
        <tr>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img class="item" src="../static/img/pankaka.png">
                        </div>
                        <div class="back">
                            <h2>Pankaka #</h2>
                            <p>Kitten Ipsum helped, cramped likes rip little smokey cat family bed kitty. Watching mix reddit ball his rip meet cat. </p>
                            <h3>30:-</h3>
                            <!-- back content -->
                        </div>
                    </div>
                </div>

            </td>

    </table>
</div>
{% endblock %}